@use "../../scss/colors.scss";

.menu {
    display: none;
    list-style: none;

    @media (max-width: 840px) {
        display: flex;
        flex-direction: column;
        padding: 82px 0 25px 0;

        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;

        background-color: colors.$white;
        z-index: 50;

        animation: toggleMenuAnimation 0.2s ease-out;
        backface-visibility: hidden;
    }
}

.voile {
    @media (max-width: 840px) {
        position: absolute;
        background-color: colors.$black75opacity;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 40;
        animation: fadeAnimation 0.2s ease-out;
    }
}

.menuLink {
    &:link,
    &:visited {
        padding: 10px 25px;
        color: colors.$gray100;
        font-size: 18px;
        line-height: 1.444;
        font-weight: 700;
        transition: color 0.3s;
        cursor: pointer;
    }

    &:hover {
        color: colors.$accent100;
    }
}

@keyframes toggleMenuAnimation {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
