.container {
    max-width: 1680px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 11.5%;

    @media (max-width: 1366px) {
        padding: 0 4%;
    }

    @media (max-width: 840px) {
        padding: 0;
    }
}
