@use "../../scss/colors.scss";

.cart {
    &__button {
        position: relative;
        padding: 13px;
        border: none;
        background: none;
        color: colors.$gray500;

        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: colors.$gray100;
        }
    }

    &__counter {
        position: absolute;
        top: 8px;
        right: 6px;
        font-size: 10px;
        line-height: 1;
        font-weight: 700;
        background-color: colors.$accent100;
        color: colors.$white;
        padding: 2px 6px;
        border-radius: 7px;
    }
}
