@use "../../scss/colors.scss";

.productInformation {
    padding: 2px;
    padding-top: 16.5%;
    max-width: 480px;

    @media (max-width: 1366px) {
        padding-top: 8%;
    }

    @media (max-width: 840px) {
        padding: 24px;
        max-width: unset;
    }
}

.brand {
    font-size: max(12px, 1vw);
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.84em;

    color: colors.$accent100;

    @media (max-width: 840px) {
        letter-spacing: 1.85px;
        margin-bottom: 1.333em;
    }
}

.title {
    font-size: max(32px, 3.05vw);
    line-height: 1.091;
    font-weight: 700;
    margin-bottom: 0.73em;

    color: colors.$gray100;

    @media (max-width: 840px) {
        font-size: 28px;
        line-height: 1.143;
        margin-bottom: 0.535em;
    }
}

.description {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 400;
    margin-bottom: 28px;

    color: colors.$gray500;

    @media (max-width: 840px) {
        font-size: 15px;
        line-height: 1.667;
        font-weight: 400;
        margin-bottom: 28px;
    }
}

.prices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 32px;

    @media (max-width: 840px) {
        flex-direction: row;
        align-items: center;
        gap: unset;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.actual {
    display: flex;
    gap: 23px;
    align-items: center;
}

.newPrice {
    font-size: 28px;
    line-height: 1.25;
    font-weight: 700;
    color: colors.$gray100;
}

.oldPrice {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 700;
    color: colors.$gray600;
    text-decoration: line-through;
}

.discount {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;

    border-radius: 6px;
    padding: 4px 10px;

    color: colors.$accent100;
    background-color: colors.$accent900;
}

.controls {
    display: flex;
    gap: 16px;
    @media (max-width: 840px) {
        flex-direction: column;        
    }
}
