@use "../../scss/colors.scss";

.gallery {
    width: 100%;
}

.slides {
    margin-bottom: 28px;
    border-radius: 17px;
}

.slide img {
    border-radius: 17px;
    padding: 2px;
}

.thumbnails {
    :global {
        .swiper-wrapper {
            gap: 6%;
        }
    }
}

.thumbnail {
    cursor: pointer;
    flex-basis: 25%;
    flex-shrink: 1;

    img {
        border-radius: 12px;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1;
        border: 2px solid transparent;
    }

    &:hover::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 10px;
        background-color: colors.$white50opacity;
    }
}

:global {
    .swiper-slide-thumb-active img {
        border: 2px solid colors.$accent100;
    }

    .swiper-slide-thumb-active::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 10px;
        background-color: colors.$white75opacity;
    }

    .swiper-slide-thumb-active:hover::after {
        background-color: colors.$white75opacity;
    }
}
