@use "../../scss/colors.scss";

.popup {
    position: absolute;
    right: -158px;
    top: 64px;
    width: 360px;
    border-radius: 10px;
    background-color: colors.$white;
    box-shadow: colors.$popupShadow;
    z-index: 10;
    min-width: 288px;

    @media (max-width: 1366px) {
        right: -80px;
    }

    @media (max-width: 840px) {
        top: 60px;
        right: -8px;
    }

    @media (max-width: 480px) {
        position: absolute;
        width: calc(100% - 16px);
        top: 76px;
        right: 0;
        left: 8px;
    }
}

.title {
    padding: 24px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    color: colors.$gray100;
    border-bottom: 1px solid colors.$gray800;
}

.content {
    padding: 24px 24px 32px 24px;
}

.emptyCartMessage {
    margin: 53px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.625;
    color: colors.$gray500;
}

.productList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}
